* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #424040;
}
.content-wrapper {
  width: 778px;
  margin: auto;
}
.content {
  padding: 10px;
}
.list-content {
  display: flex;
}
.list-wrapper {
  display: block;
  transition: .9s;
  max-height: 9000px;
  overflow: hidden;
}
.list-wrapper.closed {
  max-height: 0;
}
.guest-list {
  overflow: scroll;
  height: 80vh;
  padding: 10px 0;
  margin: 10px 0;
}
.guest-card {
  padding: 20px;
  width: 40%;
  height: fit-content;
  margin-top: 20px;
  border: 1px solid;
}
.guest-item {
  padding: 15px;
  margin-bottom: 10px;
  background: #f0f0f0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0px;
}
.guest-item:hover {
  background: #f9f9f9;
}
.guest-arrived button{
  background-color: greenyellow;
  color: #424040;
  height: 50px;
  width: 100px;
  text-transform: uppercase;
  font-size: 16px;
}
.guest-search {
  width: 100%;
  height: 40px;
  border: 1px solid gray;
  outline: none;
  font-size: 20px;
  border-radius: 7px;
  margin-top: 10px;
  background: #e3e3d3;
  padding: 30px 40px;
  color: #424040;
}
.guest-card {
  width: 250px;
  margin-right: 20px;
}
.card-list {
  margin-top: 20px;
}
.card-item {
  margin-bottom: 10px;
}
.guests-header {
  display: flex;
  justify-content: space-between;
  vertical-align: center;
}
.guests-header-title {
  display: inline-block;
  position: relative
}
.guests-header-title-text {
  color: #424040;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 34px;
  margin-bottom: 0;
}
.guests-header-subtitle {
  position: absolute;
  right: -50px;
  top: 20px;
  transform: rotate(10deg);
  text-decoration: line-through;
  color: red;
  font-weight: bold
}
.guests-header-beer {
  background: greenyellow;
  height: 70px;
  width: 70px;
  color: white;
  cursor: pointer;
  outline: none;
  display: inline-block;
  vertical-align: middle;
}
.guests-header-beer-img {
  height: 40px;
}
.guests-header-beer-num {
  font-size: 30px;
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  height: 70px;
  margin-left: 20px;
  padding: 10px;
}
.guest-photo {
  margin-right: 15px;
}
.guest-info button {
  margin-top: 20px;
}
.button-arrived {
  padding: 5px 10px;
  width: 140px;
}